body{
    background-color: rgb(221, 145, 145);
    background-image: linear-gradient(color);
}

h1{
    
    text-align: center;
color: rgb(37, 75, 180);
font-family:Courier;
font-style: oblique;
font-weight: 900;
font-size: 45px
}
h2{
text-align: center;
color: rgb(92, 92, 185);
font-size: 30px

}

ul{
text-align: center;
list-style-position: inside;

}

li{
font-size: 25px


}
    











div{

width: 269px;
border: 13px rgb(89, 158, 185);
background-color: rgb(160, 160, 142);
padding: 40px;
margin: 40px;
border-radius: 568px;
}

img{
    border: 10px solid rgb(150, 37, 59) ;
    border-radius: 500px;
    width: 300px;
    padding: 15px;
display: block;
    margin: auto;




}











































